@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');



#logo{

    vertical-align: top;
   
}




#c1 h4{
   
background-color: red;
display: inline;
width: 50px;
margin-right: 1050px;

    
}


#fg{
display: block;
width: 100%;
height: 20px;
//o
}


#c1{

    
}


#c1{

    
}




}
 #pr {
     float: right;
     margin-bottom: 15px;
     display: flex;

  
 }
 #pr img {
     height:15px;
     width: 15px;
     padding-top: 10px;
 }
h5 {
    font-size: 10px;

}

#p1 {
    font-size: 10px;
    color: gray;
    padding-top: -20px;
}


h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


#pizza {
    width: 100%;
}
body {
    margin-left: 50px;
    margin-right: 50px;
}

article p {
    text-align: left;
   
}

article p {
    text-indent:2em;
}
#list {
    background-image: url(../img/list-bg.png);



}

#lright {

    float: right;
  
}
#lleft {
    float: left;
}

.button {
    float: right;
    background-color:#8D2828;
    color: white;
position: relative;
bottom: 75px;
}

.small {
display: inline;
padding-left: 680px;



}


.copy {
    text-align: center;
}

.food {
    float: left;
}

#k1 p  {
  position: relative;
  bottom: 25px;
}
.b {
    text-decoration: line-through;
}