@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
#x1{
position: relative;

right: ;
top:  ;




}
.x3{

    float:right;
 padding-left: 600px;
 padding-top: 10px;

}
#logo{

display: inline;
height:30px;
padding-top: 20px;
padding-right: 10px;

}
#c1 {
    display: flex;
}
h4{
    font-family: Cookie;
    font-size: 18px;
    /* width: 10px; */

}
#best {
  position: relative;
  /* top:-30px; */
  /* right: -50px; */
  font-size: 6px;
  color: gray;
}
 #pr {
     float: right;
     margin-bottom: 15px;
     display: flex;

  
 }
 #pr img {
     height:15px;
     width: 15px;
     padding-top: 10px;
 }
h5 {
    font-size: 10px;

}

#p1 {
    font-size: 10px;
    color: gray;
    padding-top: -20px;
}


h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}


#pizza {
    width: 100%;
}
body {
    margin-left: 50px;
    margin-right: 50px;
}

article p {
    text-align: left;
   
}

article p {
    text-indent:2em;
}
#list {
    background-image: url(../img/list-bg.png);



}

#lright {

    float: right;
  
}
#lleft {
    float: left;
}

.button {
    float: right;
    background-color:#8D2828;
    color: white;
position: relative;
bottom: 75px;
}

.small {
display: inline;
padding-left: 450px;



}


.copy {
    text-align: center;
}

.food {
    float: left;
}

#k1 p  {
  position: relative;
  bottom: 25px;
}
.b {
    text-decoration: line-through;
}