@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
#x1{
position: relative;

right: ;
top:  ;




}
.x3{

    float:right;
    margin: 1%;
}
#logo{

display: inline;
margin: 0;
float: left;
}
h4{
    float: left;
    font-family: Cookie;

}

#hrc{

    width: 100%;
    height: 15px;
}
.ht{

    display: flex ;
}